body {
  background-color: #FFC4D4;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
  background-color: #0d1f2d;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  color: #fffcf5;
  font-size: 18px;
  padding:10px 15px;
  transition: all 0.3s ease;
  display: inline-block;
}

nav ul li a:hover {
  transform: scale(1.1);
  color: #FF8882;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  border-radius: 5px;
}

.texto a {
  text-decoration: underline;
  font-family: 'Arial', sans-serif;
  color: #1d59ff;
  transition: all 0.3s ease;
}

.texto a:hover {
  transform: scale(1.1);
  color: #FF8882;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 10px;
  border-radius: 5px;
}

.texto a:visited {
  color: #000000;
  font-weight: normal;
  background-color: transparent;
  transform: none;
  padding-left: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
}

.imagenPrincipal {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  text-align: center;
}

main {
  background-color: #fffced;
  padding: 2rem;
  margin: 1rem;
}

.texto {
  font-size: 40px;
  text-align: center;
}

.texto figcaption {
  font-size: 20px;
  text-align: center;
}

.imagen {
  text-align: center;
}

.imagen img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.imagen {
    text-align: center;
}
.imagen img{
    width: 600px;
    height: 600px;
}


ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol li {
  margin-bottom: 15px;
}

.texto ul li {
  margin-bottom: 15px;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

input,
textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #999;
  border-radius: 5px;
}

button {
  background-color: #0d1f2d;
  color: #fffced;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FF8882;
}

.video-opening {
  width: 100%;
  max-width: 560px;
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
  display: block;
  margin: 1rem auto;
}
